.Meme {
    display:inline-block;
    position: relative;
    border: black solid 1px;
    margin: 1%;
}

.Meme-img {
    width: 20em;
    height: 20em;
}

.Meme-top {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font: small-caps bold 30px sans-serif;
    overflow-wrap: break-word;
    -webkit-text-stroke: 1px black;
    overflow: hidden;
}

.Meme-bot {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font: small-caps bold 30px sans-serif;
    overflow-wrap: break-word;
    -webkit-text-stroke: 1px black;
    overflow: hidden;
}